<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/" class="logo">
          <img src="/images/dinedelight logo.png" width="145" height="95" alt="dinedelight" />
        </a>
      </div>
      <div class="navbar-left">
        <ul>
          <li><a href="/index" class="nav-item">Home</a></li>
          <li><a href="/explore" class="nav-item">Explore Restaurants</a></li>
          <li><a href="/contact" class="nav-item">Contact Us</a></li>
          <li><a href="/about" class="nav-item">About Us</a></li>
          <li><a href="/booking" class="nav-item">Bookings</a></li>

          <% if (showAuthLinks) { %>
            <li><a href="/signin " class="nav-item">Sign In</a></li>
            <li><a href="/signup " class="nav-item">Sign Up</a></li>
        <% } %>
        </ul>
      </div>
    </div>
  </nav>
  