<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-logo">
          <img src="/images/dinedelight logo.png" alt="Delish Logo" />
          <span>DineDelight</span>
        </div>
        <div class="footer-address">
          <p>Lorem Ipsum is simply dummy text of the printing</p>
        </div>
        <div class="footer-social">
          <a href="#"><img src="/images/telegram.png" alt="Telegram" /></a>
          <a href="#"><img src="/images/instagram.png" alt="Instagram" /></a>
          <a href="#"><img src="/images/twitter.png" alt="Twitter" /></a>
          <a href="#"><img src="/images/whatsapp.png" alt="WhatsApp" /></a>
        </div>
      </div>
      <div class="footer-links">
        <h3>LINKS</h3>
        <ul>
          <li><a href="#"> About Us</a></li>
          <li><a href="#"> Meet our team</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Contact</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3>SERVICES</h3>
        <ul>
          <li><a href="#"> Booking</a></li>
          <li><a href="#"> Reservation</a></li>
          <li><a href="#"> Register</a></li>
          <li><a href="#"> Search</a></li>
          <li><a href="#"> Explore More</a></li>
        </ul>
      </div>
      <div class="footer-newsletter">
        <h3>CONNECT WITH US</h3>
        <p>Subscribe & receive our offers and updates in your inbox</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Email Address" />
          <button>
            <img src="/images/email.png" alt="Send" />
          </button>
        </div>
        <p>Contact Us : 9042788200</p>
      </div>
    </div>
  </footer>
  