<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Restaurants</title>
    <link rel="stylesheet" href="/styles/exploreRes.css">
</head>
<body>
  
    
    <!-- Include Navbar -->
<%- include('includes/navbar') %>
 <hr />

    <div class="container-res">
        <h1>Different Restaurants</h1>
        <div class="restaurant-grid">
      
            <div class="restaurant-card">
                <img src="/images/location4.jpeg" alt="Baluchi">
                <div class="restaurant-details">
                    <h3>Baluchi</h3>
                    <p>Address: Sector 26, Chandigarh</p>
                    <p>Cuisine: Indian, Asian</p>
                </div>
            </div>
            <div class="restaurant-card">
                <img src="/images/location5.jpeg" alt="Virgin Courtyard">
                <div class="restaurant-details">
                    <h3>Virgin Courtyard</h3>
                    <p>Address: Sector 7, Chandigarh</p>
                    <p>Cuisine: Italian</p>
                </div>
            </div>
            <div class="restaurant-card">
                <img src="/images/location6.jpeg" alt="Tamra">
                <div class="restaurant-details">
                    <h3>Tamra</h3>
                    <p>Address: Sector 7, Chandigarh</p>
                    <p>Cuisine: Multicuisine</p>
                </div>
            </div>
        </div>
      
    </div>

   
<!-- Include Footer -->
<%- include('includes/footer') %>


</body>
</html>
