<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="exploreRes.css">
</head>
<body>
    <!-- navbar -->

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a href="#" class="logo">
                    <img src="dinedelight logo.png" width="145" height="95" alt="dinedelight">
                  </a>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/home" class="nav-item">Home</a></li>
                    <li><a href="#" class="nav-item">Explore Restaurants</a></li>
                    <li><a href="#" class="nav-item">Contact Us</a></li>
                    <li><a href="#" class="nav-item">About Us</a></li>
                    <li><a href="#" class="nav-item">Bookings</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <hr>
    
<div class="container-res">
    <h1>Different Restaurants</h1>
    <div class="restaurant-grid">
        <div class="restaurant-card">
            <img src="new-res.avif" alt="Urban Cafe" loading="lazy">
            <div class="restaurant-details">
                <h3>Urban Cafe</h3>
                <p>Address: Hyatt Regency, Sector 35, Chandigarh</p>
                <p>Cuisine: Chinese, Indian</p>
            </div>
        </div>
        <div class="restaurant-card">
            <img src="location2.jpeg" alt="Piccante" loading="lazy">
            <div class="restaurant-details">
                <h3>Piccante</h3>
                <p>Address: Sector 26, Chandigarh</p>
                <p>Cuisine: Italian, Chinese</p>
            </div>
        </div>
        <div class="restaurant-card">
            <img src="location3.jpeg" alt="The Cafe @ JW">
            <div class="restaurant-details">
                <h3>The Cafe @ JW</h3>
                <p>Address: JW Marriott Hotel, Sector 35, Chandigarh</p>
                <p>Cuisine: Indian, Cafe, International</p>
            </div>
        </div>
        <div class="restaurant-card">
            <img src="location4.jpeg" alt="Baluchi">
            <div class="restaurant-details">
                <h3>Baluchi</h3>
                <p>Address: Sector 26, Chandigarh</p>
                <p>Cuisine: Indian, Asian</p>
            </div>
        </div>
        <div class="restaurant-card">
            <img src="location5.jpeg" alt="Virgin Courtyard">
            <div class="restaurant-details">
                <h3>Virgin Courtyard</h3>
                <p>Address: Sector 7, Chandigarh</p>
                <p>Cuisine: Italian</p>
            </div>
        </div>
        <div class="restaurant-card">
            <img src="location6.jpeg" alt="Tamra">
            <div class="restaurant-details">
                <h3>Tamra</h3>
                <p>Address: Sector 7, Chandigarh</p>
                <p>Cuisine: Multicuisine</p>
            </div>
        </div>
    </div>
    <div class="dine-in-section">
        <p>Dine In at your favorite place or book a table</p>
        <button class="dine-in-button">DINE IN</button>
    </div>
</div>

<!-- footer -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="dinedelight logo.png" alt="Delish Logo">
                <span>DineDelight</span>
            </div>
            <div class="footer-address">
                <p>Lorem Ipsum is simply dummy text of the printing </p>
            </div>
            <div class="footer-social">
                <a href="#"><img src="telegram.png" alt="Facebook"></a>
                <a href="#"><img src="instagram.png" alt="Instagram"></a>
                <a href="#"><img src="twitter.png" alt="Twitter"></a>
                <a href="#"><img src="whatsapp.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="footer-links">
            <h3>LINKS</h3>
            <ul>
                <li><a href="#"> About Us</a></li>
                <li><a href="#"> Meet our team</a></li>
                <li><a href="#"> Privacy Poilicy</a></li>
                <li><a href="#"> Contact</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>SERVICES</h3>
            <ul>
                <li><a href="#"> Booking</a></li>
                <li><a href="#"> Reservation</a></li>
                <li><a href="#"> Register</a></li>
                <li><a href="#"> Search</a></li>
                <li><a href="#"> Explore More</a></li>
            </ul>
        </div>
        <div class="footer-newsletter">
            <h3>CONNET WITH US</h3>
            <p>Subscribe us & receive our offers and updates your inbox directly</p>
            <div class="newsletter-form">
                <input type="email" placeholder="Email Address">
                <button>
                    <img src="email.png" alt="Send">
                </button>
            </div>
            <P>Contact Us : 9042788200<br>
            </P>
        </div>
    </div>
</footer>

</body>
</html>