<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DineDelight</title>
    <link rel="stylesheet" href="/styles/homestyle.css">
</head>
<body>


    <!-- Include Navbar -->
<%- include('includes/navbar') %>


  <hr />
<!-- Section 1 -->
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="/images/new-res.avif" alt="Image 1">
        </div>
        <div class="slide">
            <img src="/images/new-res2.avif" alt="Image 2">
        </div>
        <div class="slide">
            <img src="/images/new-res3.avif" alt="Image 3">
        </div>
    </div>

    <div class="image-container">
        <div class="text-overlay">
            <h1>Where every flavor tells a story</h1>
            <p>Come with family & feel the joy of mouthwatering food</p><br>
            <a href="/explore" class="explore-button">EXPLORE RESTAURANTS</a>
        </div>
    </div>

    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
</div>

<!-- steps -->
<div class="container-steps-info">
    <div class="steps-title">
        <h2>EASY ORDER IN 3 STEPS</h2>
    </div>
    <div class="steps-container">
        <div class="step">
            <div class="step-icon">
                <div class="step-number">1</div>
                <img src="/images/step1image.avif" alt="Step 1 Icon">
            </div>
            <h3>Register</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="step">
            <div class="step-icon">
                <div class="step-number">2</div>
                <img src="/images/step2image.avif" alt="Step 2 Icon">
            </div>
            <h3>Explore Restaurants</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="step">
            <div class="step-icon">
                <div class="step-number">3</div>
                <img src="/images/step3image.avif" alt="Step 3 Icon">
            </div>
            <h3>Book Table</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>
<br>

<!-- Include Footer -->
<%- include('includes/footer') %>



<!-- Include JavaScript -->
<script src="/js/script.js"></script>
</body>
</html>
