<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DineDelight</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
<!-- navbar -->

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a href="#" class="logo">
                    <img src="images/dinedelight logo.png" width="145" height="95" alt="dinedelight">
                  </a>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/index" class="nav-item">Home</a></li>
                    <li><a href="/explore" class="nav-item">Explore Restaurants</a></li>
                    <li><a href="/contact" class="nav-item">Contact Us</a></li>
                    <li><a href="/about" class="nav-item">About Us</a></li>
                    <li><a href="/booking" class="nav-item">Bookings</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <hr>

<!-- Section 1 -->
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="images/new-res.avif" alt="Image 1">
        </div>
        <div class="slide">
            <img src="images/new-res2.avif" alt="Image 2">
        </div>
        <div class="slide">
            <img src="images/new-res3.avif" alt="Image 3">
        </div>
    </div>

    <div class="image-container">
        
        <div class="text-overlay">
            <h1>Where every flavor tells a story</h1>
            <p>Come with family & feel the joy of mouthwatering food</p><br>
            <a href="/explore" class="explore-button">EXPLORE RESTAURANTS</a>
        </div>
    </div>

   
    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
</div>

     <!-- steps -->
     <div class="container-steps-info">
        
        <div class="steps-title">
            <h2>EASY ORDER IN 3 STEPS</h2>
        </div>
        <div class="steps-container">
            <div class="step">               
                <div class="step-icon">
                    <div class="step-number">1</div>
                    <img src="images/step1image.avif" alt="Step 1 Icon">
                </div>
                <h3>Register</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="step">
                <div class="step-icon">
                    <div class="step-number">2</div>
                    <img src="images/step2image.avif" alt="Step 2 Icon">
                </div>
                <h3>Explore Restaurants</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="step">
                <div class="step-icon">
                    <div class="step-number">3</div>
                    <img src="images/step3image.avif" alt="Step 3 Icon">
                </div>
                <h3>Book Table</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
<br>
   

<!-- section-2 -->
 <section class="section">
    <div class="container">
        <h1>Flavors For Royalty</h1>
        <h2>We Offer Top Notch</h2>



        <ul class="grid-list">

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="images/service-1.jpg" width="285" height="336" loading="lazy" alt="Breakfast"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    Breakfast
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="images/service-2.jpg" width="285" height="336" loading="lazy" alt="Appetizers"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    Appetizers
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="images/service-3.jpg" width="285" height="336" loading="lazy" alt="Drinks"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    Beverages
                  </h3>

                </div>

              </div>
            </li>

          </ul>


        <p class="section-text">
            Our restaurants offer a symphony of flavors, catering to every palate.Whether you're in the mood for the rich, <br>
            comforting tastes of traditional cuisine or the bold, inventive flavors of contemporary dishes.Each restaurant in <br>
            our group specializesin a unique culinary tradition, ensuring a diverse and exciting dining experience.<br>
        </p>
    </div>
 </section>
 <hr>
<!-- section 3  -->
<div class="story-container">
    <div class="story-container-text">
        <h1>Every Place Tells a Story</h1>
        <p>
            take pride in creating exceptional dining experiences that bring people together. Our group of restaurants represents the pinnacle of culinary excellence, offering a diverse array of flavors and atmospheres to delight every guest.
        </p> 
    </div>
    <div class="story-container-image">
        <img src="images/story-image.png" alt="Story Image" width="570" height="570">
    </div>
</div>
<hr>
<!-- Different res -->

<!-- book table -->
<br><br>
<div class="banner">
    <img src="images/location1.webp" alt="Coffee House Banner">
    <div class="banner-content">
        <p class="banner-text">BOOK A TABLE FOR YOUR AND FAMILY MEMBERS</p>
        <h2 class="banner-title">NEED A TABLE ON COFFEE HOUSE</h2>
        <a href="#" class="banner-button">BOOK A TABLE</a>
    </div>
</div>
<!-- footer -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="images/dinedelight logo.png logo.png" alt="Delish Logo">
                <span>DineDelight</span>
            </div>
            <div class="footer-address">
                <p>Lorem Ipsum is simply dummy text of the printing </p>
            </div>
            <div class="footer-social">
                <a href="#"><img src="images/telegram.png" alt="Facebook"></a>
                <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="images/whatsapp.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="footer-links">
            <h3>LINKS</h3>
            <ul>
                <li><a href="#"> About Us</a></li>
                <li><a href="#"> Meet our team</a></li>
                <li><a href="#"> Privacy Poilicy</a></li>
                <li><a href="#"> Contact</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>SERVICES</h3>
            <ul>
                <li><a href="#"> Booking</a></li>
                <li><a href="#"> Reservation</a></li>
                <li><a href="#"> Register</a></li>
                <li><a href="#"> Search</a></li>
                <li><a href="#"> Explore More</a></li>
            </ul>
        </div>
        <div class="footer-newsletter">
            <h3>CONNET WITH US</h3>
            <p>Subscribe us & receive our offers and updates your inbox directly</p>
            <div class="newsletter-form">
                <input type="email" placeholder="Email Address">
                <button>
                    <img src="images/email.png" alt="Send">
                </button>
            </div>
            <P>Contact Us : 9042788200<br>
            </P>
        </div>
    </div>
</footer>
    <script src="/js/script.js"></script>
</body>
</html>