<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Dinedelight</title>
    <link rel="stylesheet" href="/styles/sign-in.css">
</head>
<body>
    <div class="box">
        <div class="form">
            <h2>Login</h2>
            <form action="/signin" method="POST">
                <div class="inputBox">
                    <input type="text" name="username" required="required">
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required="required">
                    <span>Password</span>
                    <i></i>
                </div>
                <input type="submit" value="Login">
            </form>
            <div class="links">
                <a href="#">Forgot Password?</a>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>