<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dinedelight</title>
    <link rel="stylesheet" href="styles/sign-in.css">
</head>
<body>
    <div class="box">
        <div class="form">
            <h2>Register</h2>
            <!-- Form that sends data to the /signin route -->
            <form action="/api/signup" method="POST">
                <!-- Username -->
                <div class="inputBox">
                    <input type="text" name="username" required="required">
                    <span>Username</span>
                    <i></i>
                </div>
                <!-- Password -->
                <div class="inputBox">
                    <input type="password" name="password" required="required">
                    <span>Password</span>
                    <i></i>
                </div>
                <!-- Submit Button -->
                <input type="submit" value="Register">
            </form>

            
        </div>
    </div>
</body>
</html>
