body {
    font-family: 'Jost', sans-serif;
    background-color: black;
    color: grey;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: hsla(30, 8%, 5%, 1);
    padding: 10px 20px;
    height: 5rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #76b8cc;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.login-signup-box {
    background-color: #254661;
    padding: 10px;
    border-radius: 5px;
}

.login-signup-box .nav-item {
    color: white;
    padding: 0 10px;
}

.login-signup-box span {
    color: white;
    padding: 0 5px;
}
/* Footer Styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left,
.footer-links,
.footer-menu,
.footer-newsletter {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 40px;
    margin-right: 10px;
}

.footer-logo span {
    font-size: 1.5em;
    font-weight: bold;
}

.footer-address,
.footer-social {
    margin-bottom: 20px;
}

.footer-social img {
    width: 30px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 20%;
    padding: 5px;
}

.footer-links h3,
.footer-menu h3,
.footer-newsletter h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-menu li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-newsletter p {
    margin-bottom: 20px;
}


.privacy-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
}

h1, h2 {
    color: #ea5541;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p, ul {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding-left: 0;
}

.last-updated {
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
    color: #ccc;
}
